name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

env:
  PYTHON_VERSION: '3.11'
  PRECOMMIT_VERSION: '3.7.1'

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    container:
      image: movesrwth/stormpy:ci-debug
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y install curl
          apt-get -y install git
          apt-get -y install pandoc
          apt-get -y install libcairo2-dev

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load existing venv
        run: poetry env use /opt/venv/bin/python

      - name: Install dependencies
        run: poetry install

      - name: Glob python files in docs folder
        uses: tj-actions/glob@v22
        id: glob
        with:
          files: |
            docs/**/*.py

      - name: Generate documentation notebooks from jupytext
        run: |
          poetry run jupytext --to notebook ${{ steps.glob.outputs.paths }}

      - name: Glob notebooks in docs folder
        uses: tj-actions/glob@v22
        id: glob
        with:
          files: |
            docs/**/*.ipynb

      - name: Run documentation notebooks
        run: |
         poetry run jupyter nbconvert --execute --to notebook --inplace ${{ steps.glob.outputs.paths }} --ExecutePreprocessor.kernel_name=python3

      - name: Generate docs
        working-directory: docs/
        run: make html

      - name: Copy gifs
        run: cp -r docs/4-Reinforcement-Learning/gifs docs/_build/html/4-Reinforcement-Learning/

      - name: Setup Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5

      - name: Upload artifact
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: "docs/_build/html/"

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
