name: Docs

on: [push]
  # Runs on pushes targeting the default branch
  # push:
  #   branches: [$default-branch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

env:
  PYTHON_VERSION: '3.11'
  PRECOMMIT_VERSION: '3.7.1'

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    container:
      image: movesrwth/stormpy:ci-debug
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y install curl
          apt-get -y install git
          apt-get -y install pandoc

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load existing venv
        run: poetry env use /opt/venv/bin/python

      - name: Install dependencies
        run: poetry install

      - name: Glob notebooks in docs folder
        uses: tj-actions/glob@v22
        id: glob
        with:
          files: |
            docs/**/*.ipynb

      - name: Run documentation notebooks
        run: |
          poetry run jupyter nbconvert --execute --to notebook --inplace "${{ steps.glob.outputs.paths }}"

      - name: Generate docs
        working-directory: docs/
        run: make html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "docs/_build/html/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
