name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: '3.11'
  PRECOMMIT_VERSION: '3.7.1'

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    container:
      image: movesrwth/stormpy:ci-debug
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y install curl
          apt-get -y install git
          apt-get -y install libcairo2-dev

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load existing venv
        run: poetry env use /opt/venv/bin/python

      - name: Install dependencies
        run: poetry install

      - name: Git thinks the directories are sus
        run: git config --global --add safe.directory '*'

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: precommit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files
